---
import EssayLayout from "@/layouts/EssayLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { render } from "astro:content";
import BlurFade from "../../components/motion/blurfade.svelte";
import Particles from "../../components/motion/particles.svelte";

export async function getStaticPaths() {
  const essays = await getCollection("essays");
  return essays.map((essay) => ({
    params: { slug: essay.id },
    props: essay,
  }));
}
type Props = CollectionEntry<"essays">;

const essay = Astro.props;
const { Content } = await render(essay);
const meta_data = essay.data;
---

<EssayLayout {...meta_data}>
  <BlurFade
    delay={0.25}
    class="left-0 top-0 -z-10 h-full w-full overflow-x-clip"
  >
    <section class="w-full px-6 pb-12 pt-16 sm:pb-20 sm:pt-32">
      <div
        class="fade animate-fade absolute left-0 top-0 -z-10 h-full w-full overflow-x-clip"
      >
        <!-- Keep this but find ideas more fitting for pages -->
        <!-- <div
				class="parallax-element absolute top-0 flex h-max w-full transform-gpu items-end justify-end"
				style="transform: translateY(-73.2px) translate3d(0px, 0px, 0px);"
			>
				<img
					alt="Satellite"
					class="homepageBounce mr-[10%] mt-[10%]"
					height="400"
					src=""
					loading="lazy"
					width="400"
				/>
			</div> -->
      </div>
      <header style="text-wrap: balance;">
        <BlurFade delay={0.7} class="flex flex-col gap-6 sm:gap-10">
          <h1
            class="mx-auto max-w-5xl text-center text-7xl font-[800] text-white sm:text-[80px] [@media(max-width:500px)]:text-5xl"
          >
            {meta_data.title}
          </h1>
          <h2
            class="mx-auto max-w-3xl text-balance text-xl font-medium text-neutral-100"
          >
            {meta_data.excerpt}
          </h2>
        </BlurFade>
      </header>
    </section>
    <section class="relative flex w-full gap-14 px-6 sm:pb-16">
      <div
        class="mx-auto flex w-full max-w-7xl flex-wrap items-center justify-center gap-10 lg:flex-nowrap lg:justify-between"
      >
        <Particles className="absolute inset-0" refresh={true} />
        <div
          class="z-10 prose prose-p:opacity-90 prose-img:rounded-xl mx-auto w-5/6 max-w-3xl text-white"
        >
          <Content />
        </div>
      </div>
    </section>
  </BlurFade>
</EssayLayout>
